/**********************************

Colores
Para la barra del menú principal: 26263f
Para los títulos, el logo y el fondo de los banners: 1
El fondo de la página será en: blanco
Color de los figcations ff8352
Tipografia
Oswald - Para la barra del menú (categorías y subcategorías
Ultra - Para los títulos de las notas, reseñas, promociones, y títulos de las categorías en el home.
Helvetica - Para el cuerpo de todos los textos de la página.


**********************************/


/***********************
    Estilos generales
************************/
/*============
    Estilos
  ============ */
@font-face {
    font-family: 'oswald';
    src: url('Oswald-Regular-webfont.eot');
    src: url('Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('Oswald-Regular-webfont.woff2') format('woff2'),
    url('Oswald-Regular-webfont.woff') format('woff'),
    url('Oswald-Regular-webfont.ttf') format('truetype'),
    url('Oswald-Regular-webfont.svg#oswald_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ultra';
    src: url('Ultra-webfont.eot');
    src: url('Ultra-webfont.eot?#iefix') format('embedded-opentype'),
    url('Ultra-webfont.woff') format('woff'),
    url('Ultra-webfont.ttf') format('truetype'),
    url('Ultra-webfont.svg#ultraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: Arial, sans-serif;
    font-size: 18px;
}

img{
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'ultra', Arial, sans-serif;
}

/**********************
    Estilos header#principal
**********************/

#principal{
    border: 1px solid red;
    padding: 0.3em;
    overflow: hidden;
    position: relative;
}

#principal div{
    width: 25%;
    display: inline-block;
}

#principal .logo, #principal .social{
    float: left;
}

#principal .busqueda, #principal .music_widget{
    float: right;
}

#principal .logo img{
    border-right: 3px solid #ff8352;
    margin-right: 0.1em;
    padding-right: 0.1em;
    width: 120px;
}

#principal .social{
    text-align: center;
    width: 120px;
    bottom: -115px;
    position: relative;
    padding: 0.2em;
}

#principal .busqueda{
    position: absolute;
    width: 120px;
    bottom: 37px;
    padding: 0.1em;
}

#principal .busqueda button{
    float: left;
}

#principal .busqueda input{
    width: 120px;
}

#principal .music_widget{
    position: absolute;
    top: 4em;
    right: 0;
}

#principal .music_widget .fa-volume-up{
    color: #9b59b6;
}

.fa-facebook{
    color: #3b5998;
}

.fa-youtube{
    color: #bb0000;
}

.fa-instagram{
    color: #2f5574;

}

.fa-twitter{
    color: #00aced;
}

/***************************
    Estilos de navegacion
***************************/


nav{
    background: #26263f;
    overflow: hidden;
    padding: 0 0.5em;
    position: relative;
    -webkit-box-shadow: 2px 2px 15px rgba(0,0,0,1);
    -moz-box-shadow:  2px 2px 15px rgba(0,0,0,1);
    box-shadow:  2px 2px 15px rgba(0,0,0,1);
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin: 0.5em 0;
    padding: 5px;
}

nav ul li a{
    border-radius: 0.3em;
    font-family: 'ultra', Arial, sans-serif;
    font-size: 0.8em;
    font-weight: 100;
    text-decoration: none;
    color: white;
    padding: 0.5em;
}

nav ul li a:hover{
    border: 1px solid #ff8352;
    border-radius: 0.3em;
    background: white;
    color: #26263f;
}

nav ul #agendita{
    position: absolute;
    top: -0.4em;
    right: 0;
}
nav ul #agendita a{
    background: #22BCE0;
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.6);
    font-style: italic;
    padding: 0.8em 0.5em;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

/*******************************
    Estilos banner
*******************************/

.banner{
    border: 1px solid red;
    padding: 1em;
    position: relative;
    overflow: hidden;
}

.banner .publicidad{
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

.banner .publicidad img{
    display: inline-block;
    border-radius: 20px;

}

/*****************************
    Estilos carrusel
*****************************/
#carrusel{
    border: 1px solid red;
    width: 100%;
    padding: 0;
    margin: 0;
}
#carrusel figure{
    position: relative;
    box-shadow: 2px 2px 17px rgba(0,0,0,0.5);

}
#carrusel figure img{
    border: 1px solid red;
}
#carrusel figure figcaption p{
    border: 1px solid red;
    position: absolute;
    background: rgba(255,131,82,0.5);
    color: white;
    font-family: 'oswald', Arial, sans-serif;
    font-size: 12px;
    padding: 1.2em;
    top: 75%;
    left:0;
}

/**************************
    Estilos contenido
    principal.
**************************/
#contenido{
    float: left;
    width: 65%;
    padding-left: 1.2em ;
}

#contenido article{
    width: 45%;
    display: inline-block;
    border: 1px solid red;
    padding: 0.5em 0.2em;
    margin:  0.5em 0.2em;
}

#contenido article img{
    width: 100%;
}

#aside{
    float: right;
    width: 30%;
    vertical-align: baseline;
    top: 0;
    right: 0;
}


/***************************
    Estilos footer
***************************/

footer{
    background: #26263f;
    padding: 0.3em;
    float: left;
    width: 100%;
}

footer p{
    text-align: center;
    color: white;
    font-size: 0.8em;
}

